<div id="DivTablaTraslados" class="card p-5 rounded">
    <table id="TablaTraslados" class="table table-striped table-hover table-bordered w-100">
        <thead class="bg-light">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Bodega Origen</th>
                <th>Bodega Destino</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id="form-trasladoNuevo" style="display:none" class="card">
    <form id="TrasladoBodegaForm">
        <div class="card-body mb-4">
            <p class="text-start my-3 fw-bold fs-4">Datos Traslados</p>

            <div class="row">

                <div class="col-md-6 contenedorBodegaTraslado">
                    <div id="DivSelectpickerTraslado" >
                        <label for="BodegaId" class="form-label">Bodega Origen</label>

                        <select id="BodegaId" name="BodegaId"
                                class="selectpicker"
                                data-live-search="true"
                                data-width="100%"
                                title="Seleccione una bodega">
                            @if (ViewBag.ListaBodegas != null)
                            {
                                foreach (var bodega in ViewBag.ListaBodegas)
                                {
                                    <option value="@bodega.BodegaId">@bodega.NombreBodega</option>
                                }
                            }
                        </select>
                    </div>


                </div>
                <div class="col-md-6 contenedorBodegaTraslado">
                    <div id="DivSelectpickerTrasladoBodega2" >
                        <label for="Bodega2Id" class="form-label">Bodega Destino</label>

                        <select id="Bodega2Id" name="Bodega2Id"
                                class="selectpicker"
                                data-live-search="true"
                                data-width="100%"
                                title="Seleccione una bodega">
                            @if (ViewBag.ListaBodegas != null)
                            {
                                foreach (var bodega in ViewBag.ListaBodegas)
                                {
                                    <option value="@bodega.BodegaId">@bodega.NombreBodega</option>
                                }
                            }
                        </select>
                    </div>
                </div>

               

                @*  <div class="col-md-1 d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-right-left fa-2x text-primary"></i>
                </div> *@



            </div>
            <br />
            <br/>
            <div class="row mt-2">
                <div class="col-md-6">
                    <select id="ProdcutosBodega1" name="ProdcutosBodega1"
                            class="selectpicker"
                            data-live-search="true"
                            data-width="100%"
                            title="Seleccione un producto">
                    </select>
                </div>

                <div class="col-md-6" style="padding-left:135px">
                    <div class="d-flex justify-content-between align-items-end mb-2">
                        <button id="btnAgregarFila" type="button" class="btn btn-success" title="Agregar Producto">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-md-12">
                    <table id="TablaProductosBodega" class="table-responsive table align-middle mb-0 bg-white w-100 table table-striped table-hover table-bordered rounded-2">
                        <thead class="bg-light">
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>

        <div style="text-align: right; background-color: #D3CECE;" class="p-2 pt-2">
            <button id="cancelButtonTrasladarEntreBodegas" type="button" class="btn btn-danger">
                <i class="fa-solid fa-rotate-left"></i> Cancelar
            </button>
            <button type="button" id="TrasladarEntreBodegas" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk"></i> Trasladar
            </button>
        </div>

    </form>
</div>


@section Scripts {
    <script src="~/JSscripts/Traslado/Index.js"></script>
}